* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Orbitron", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --bg-blue: rgba(87, 184, 255, 1);
  --bg-black: rgba(20, 24, 32, 1);
  --bg-dark: rgba(0, 0, 0, 1);
  --bg-yellow: rgba(253, 208, 74, 1);
  --bg-white: rgba(255, 255, 255, 1);
  --bg-grey: rgba(153, 153, 153, 1);
  --text-grey: rgba(85, 85, 85, 1);
  --texts-grey: rgba(223, 223, 223, 0.8);
  --bg-card: rgba(255, 255, 255, 0.15);
  --bg-blackOpacity: rgba(20, 24, 32, 0.5);
}

/* :root .dark {
  --bg-blue: rgba(20, 24, 32, 1);
  --bg-black: rgba(87, 184, 255, 1);
  --bg-dark: rgba(253, 208, 74, 1);
  --bg-yellow: rgba(0, 0, 0, 1);
  --bg-white: rgba(0, 0, 0, 1);
  --bg-grey: rgba(153, 153, 153, 1);
  --text-grey: rgba(85, 85, 85, 1);
  --texts-grey: rgba(223, 223, 223, 0.8);
  --bg-card: rgba(255, 255, 255, 0.15);
} */

.container {
  /* 1440 - 2 * 60 + 2 * 20 = 1260 */
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
}
